<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smart_mirror_flutter">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:label="smart_mirror_flutter"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:hardwareAccelerated="true">

            <!-- App launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Deep link: smartmirror://activate?token=XYZ -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="smartmirror"
                    android:host="activate"/>
            </intent-filter>

        </activity>

        <service
            android:name=".nativeagent.NativeAgentService"
            android:exported="false"/>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>
    </application>

</manifest>
